<!-- form handling -->
<form action="/api/users" method="POST" id="add_user">
<div class="new_user">
    <div class="form-group">
        <label for="name" class="text-light">Name</label>
        <input type="hidden" name="id" value="">
        <input type="text" name="name" value="" placeholder="Mark Stoenis">
    </div>
    <div class="form-group">
        <label for="Email" class="text-light">Email</label>
        <input type="text" name="email" value="" placeholder="example@gmail.com">
    </div>
    <div class="form-group">
        <label for="contact" class="text-light">Contact Number</label>
        <input type="text" name="contact" value="" placeholder="8888888888">
    </div>
    <div class="form-group">
        <label for="DOB" class="text-light">Date of Birth</label>
        <input type="date" name="dob" value="" placeholder="dd/mm/yyyy">
    </div>
    <div class="form-group">
        <label for="DOD" class="text-light">Date of Death</label>
        <input type="date" name="dod" value="" placeholder="dd/mm/yyyy">
    </div>
    <div class="form-group">
        <label for="Address" class="text-light">Address</label>
        <input type="textarea" name="address" value="" placeholder="example@gmail.com">
    </div>
    <div class="form-group">
        <label for="gender" class="text-light">Gender</label>
        <div class="radio inline">
            <input type="radio" id="radio-2" name="gender" value="Male" >
            <label for="radio-2" class="radio-label">Male</label>
        </div>
        <div class="radio inline">
            <input type="radio" id="radio-3" name="gender" value="Female" >
            <label for="radio-3" class="radio-label">Female</label>
        </div>
    </div>


    <div class="form-group">
        <button type="submit" class="btn text-dark update">Save</button>
    </div>

    </div>
</form>